@import "../../../styles.css";

.header-item {
  border-radius: var(--BORDER-RADIUS);

  font-weight: 300;
  font-size: 16px;
  line-height: 18px;

  display: flex;
  align-items: center;
  box-sizing: border-box;

  cursor: pointer;
  margin-right: 5px;
}

.header-item:hover {
  background: var(--PRIMARY-COLOR-DARKER);
}

.header-link {
  color: #fff;
  text-decoration: none;

  border-radius: var(--BORDER-RADIUS);
  padding: 7px 15px;
}
