@import "../../../styles.css";

.content-wrapper {
  padding: 2% 15%;

  display: flex;
  flex: 1;
  overflow: auto;

  flex-direction: column;
  align-items: stretch;
  gap: 5%;
}

.add-button {
  width: 65px;
  height: 53px;
  position: fixed;
  right: 3%;
  bottom: 60px;

  z-index: 10;
}
