@import url("https://fonts.googleapis.com/css2?family=Nunito");

:root {
  /*COLORS*/

  --PRIMARY-COLOR: #2a555f;
  --PRIMARY-COLOR-LIGHTER: #477480;
  --PRIMARY-COLOR-DARKER: #112d32;

  --SECONDARY-COLOR: #ddf1ec;
  --SECONDARY-COLOR-LIGHTER: #ddf1ec8a;

  --DARK-GREY: #b8b8b8;
  --VERY-LIGHT-GREY: #eeeeee;

  --DANGER: #ff7e92;
  --SUCCESS: rgba(72, 202, 70, 0.6);
  --ERROR: rgba(255, 126, 146, 0.6);

  /*FONTS*/

  --PRIMARY-FONT-FAMILY: "Nunito", sans-serif;
  --PRIMARY-FONT-STYLE: "normal";

  /*STYLES*/

  --BORDER-RADIUS: 10px;
  --SIDE-BAR-BOX-SHADOW: 5px 0px 10px rgba(0, 0, 0, 0.15);
}
