@import "../../../styles.css";

.card-wrapper {
  border-top: 15px solid var(--PRIMARY-COLOR);
  border-radius: var(--BORDER-RADIUS);

  margin-top: 40px;
  padding: 30px 40px 30px 40px;

  background: white;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);

  font-family: var(--PRIMARY-FONT-FAMILY);
  font-style: var(--PRIMARY-FONT-STYLE);
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;

  display: flex;
}

.card-title {
  width: 25%;
}

.card-info {
  width: 75%;
  color: rgba(0, 0, 0, 0.8);
}

.title {
  height: 91%;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  cursor: pointer;
}

.info {
  height: 90%;
}

.contact {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 20px;

  display: flex;
  align-items: center;
  gap: 2%;
}

.oneliner {
  white-space: nowrap;
}
